<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="command" params="name mins maxs">
    <command_interface name="${name}">
      <param name="min">${mins}</param>
      <param name="max">${maxs}</param>
    </command_interface>
  </xacro:macro>

  <ros2_control name="robotnik_base_hw" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      <param name="calculate_dynamics">true</param>
    </hardware> 
    <joint name="front_left_wheel_joint">
      <param name="id">0x02</param>
      <param name="encoder_resolution">4000</param>
      <param name="gearbox_ratio">9.56</param>
      <param name="num_digital_inputs">4</param>
      <param name="num_digital_outputs">4</param>
      <param name="num_analog_inputs">1</param>
      <param name="num_analog_outputs">0</param>

      <xacro:command name="position" mins="0.0" maxs="0.0"/>
      <xacro:command name="velocity" mins="-18.8495" maxs="18.8495"/>
      <xacro:command name="effort"   mins="-50" maxs="50"/>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort"   />
    </joint>
    <joint name="rear_left_wheel_joint">
      <param name="id">0x03</param>
      <param name="encoder_resolution">4000</param>
      <param name="gearbox_ratio">9.56</param>
      <param name="num_digital_inputs">4</param>
      <param name="num_digital_outputs">4</param>
      <param name="num_analog_inputs">1</param>
      <param name="num_analog_outputs">0</param>

      <xacro:command name="position" mins="0.0" maxs="0.0"/>
      <xacro:command name="velocity" mins="-18.8495" maxs="18.8495"/>
      <xacro:command name="effort"   mins="-50" maxs="50"/>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort"   />
    </joint>
    <joint name="front_right_wheel_joint">
      <param name="id">0x01</param>
      <param name="encoder_resolution">4000</param>
      <param name="gearbox_ratio">9.56</param>
      <param name="num_digital_inputs">4</param>
      <param name="num_digital_outputs">4</param>
      <param name="num_analog_inputs">1</param>
      <param name="num_analog_outputs">0</param>

      <xacro:command name="position" mins="0.0" maxs="0.0"/>
      <xacro:command name="velocity" mins="-18.8495" maxs="18.8495"/>
      <xacro:command name="effort"   mins="-50" maxs="50"/>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort"   />
    </joint>
    <joint name="rear_right_wheel_joint">
      <param name="id">0x04</param>
      <param name="encoder_resolution">4000</param>
      <param name="gearbox_ratio">9.56</param>
      <param name="num_digital_inputs">4</param>
      <param name="num_digital_outputs">4</param>
      <param name="num_analog_inputs">1</param>
      <param name="num_analog_outputs">0</param>

      <xacro:command name="position" mins="0.0" maxs="0.0"/>
      <xacro:command name="velocity" mins="-18.8495" maxs="18.8495"/>
      <xacro:command name="effort"   mins="-50" maxs="50"/>
      <state_interface name="position" />
      <state_interface name="velocity" />
      <state_interface name="effort"   />
    </joint>
  </ros2_control>
</robot>
